@font-face {
    font-family: "SansationRegular";
    src: url(fonts/Sansation_Regular.ttf);
   }


body {
    background-color: #e4e4e4;
}
.header-title-box {
    height: 50px;
    padding: 30px 125px 10px 125px;
    min-width: 900px;
    display: flex;
    justify-content: space-between;
}
.header-title{
    font-weight: 700;
    color:#7f7f7f;
    font-size: 26px;
    font-family: "SansationRegular";
}
.header-text{
    color:#7f7f7f;
    margin-right: 390px ;
    padding-top: 5px;
    font-weight: bold;
    font-family: "SansationRegular";
}

.header-search__input{
    background-color:ededed;
    border-radius: 20px;
    box-shadow: 0 0 10px #e4e4e4;
    font-style: italic;
    z-index: 3;
    width: 250px;
    height: 30px;
}

.header-search__button_icon{
    background-image: url("images/magnifyingGlass.png");
    width: 16px;
    height: 13px;
    cursor: pointer;
    z-index: 5;
    position: absolute;
    right: 365px;
    top:50px;
    
}
.header-navigation{
    display: flex;
    justify-content: space-between;
    min-width: 900px;
    padding: 5px 125px 10px 125px;
}
.header-menu_font_italic{
    font-style: italic;
    text-align: center;
    vertical-align: middle;
    position: inherit;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.active-page{
    background-image: url("images/activePage.png");
    background-repeat: no-repeat;
    width: 57px;
    height: 37px;

}

.main-content{
    background-color: #fff;
    border-radius: 10px;
    width: 1250px;
    height: 1330px;
    margin: 30px 125px 20px 125px;
    padding: 30px 30px;
}

.main-content-head-slider{
    background-color: #000;
    width: 470px;
    height: 280px;
    border-radius: 10px;
    display: inline-block;
}

.main-content-head-slider-image{
    background-image:url("images/person.png");
    width:450px;
    height: 280px;
    border-radius: 10px;
}
.main-content-head-slider-bottom{
    padding:210px 0 0px 15px;
}
.main-content-head-slider-bottom-tag{
    background-color: #de004e;
    border-radius: 10px;
    display: inline-block;
}
.main-content-head-slider-bottom-date{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    display: inline-block;
}

.main-content-head-slider-bottom-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin:0;
}
.white_color{
    color:#fff;
}
.main-content-head-news{
    display: inline-block;
    padding-left: 40px;
}

.main-content-head-news-box{
    display: flex;
    padding-bottom: 5px;
}
.main-content-head-news-icon{
    background-image: url("images/newsIcon.png");
    width: 32px;
    height: 27px;
}

.main-content-head-news-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #c8c8c8;
    font-weight: 700;
    padding-left:10px;
    margin:0;
}
.main-content-head-news-content-post-container{
    width: 350px;
    height: 56px;
    
}
.main-content-head-news-content-article{
    display: flex;
}
.main-content-head-news-content-article-image{
    background-image: url("images/articleIcon.png");
    width: 44px;
    height: 44px;
    border: #dcdcdc 5px solid;
    border-radius: 10px;
}
.main-content-head-news-content-article-text{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    padding: 15px 0 10px 20px;
}
.main-content-head-news-content-article-date{
    color: #e76b8a;
    font-size: 10px;              
}

.main-content-head-news-content-post-container-divider{
    border-bottom: #d7d7d7 3px dashed;
    width: 280px;
    margin-left: 75px;
}
.main-content-divider{
    border: rgba(196,196,196, 0.3) 0.1px solid;
    width: 870px;
    margin-top: 20px;
}
.main-content-centre-news-block{
    display: flex;
}
.main-content-centre-news-container{
    width: 245px;
    height: 300px;

}
.main-content-centre-news-container-head{
    display: inline-block;
}

.main-content-centre-news-container-head-tag{
    display: inline-block;
    background-color: #de004e;
    border-radius: 10px;
    color: #fff;
}
.main-content-centre-news-container-head-date{
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    color: #a0a0a0;
}
.main-content-centre-news-container-head-title{
    margin:0;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
.main-content-centre-news-container-head-text{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#808080;
    margin: 0;
    text-align: justify;
}
.full-story , .pink_text{
    font-size: 10px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#de004e;
    margin-top: 0;
}
.main-content-centre-news-block-divider{
    border: rgba(196,196,196, 0.3) 0.1px solid;
    height: 300px;
    width: 0.1px;
    margin: 0 30px 0 30px;
    
}
.main-content-centre-news-block-divider_invisible{
    margin: 0 40px 0 40px; 
}
.main-content-divider-after-centre-head{
    border: rgba(196,196,196, 0.3) 0.1px solid;
    width: 870px;
}
.main-content-bottom{
    display: flex;
    justify-content: space-between;
    border: #000 3px solid;
    width: 500px;
}
.main-content-bottom-left-content-community_head{
    display: flex;
}
.main-content-bottom-left-content-community-icon{
    background-image: url("images/communityIcon.png");
    width: 32px;
    height: 29px;

}

.main-content-bottom-left-content-community_head-text{
    margin-top: 0;
    margin-left: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c4c4c4;
}

.main-content-bottom-left-content-community-person-post{
    display: flex;
}
.main-content-bottom-left-content-community-person-user-icon{
    background-image: url("images/userIcon.png");
    width: 19px;
    height: 17px;

}

.main-content-bottom-left-content-community-person-post-textContent{
    width: 220px;
    height: 90px;
    margin-left: 20px;
}
.main-content-bottom-left-content-community-person-post-date{
    color:#de004e;
    font-size: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
}

.main-content-bottom-left-content-community-person-post-text{
    text-align: justify;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6e6e6e;
    margin-top: 0;
}
.community-person-userName{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
}
.main-content-bottom-left-content-archives-icon{
    background-image: url("images/archivesIcon.png");
    width:32px ;
    height: 29px;
}
.main-content-bottom-left-content-archives_head{
    display: flex;
}
.main-content-bottom-left-content-archives-head-text{
    margin-top: 0;
    margin-left: 10px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c4c4c4;
}

.main-content-bottom-left-content-archives-date-box{
    display: flex;
}
.main-content-bottom-left-content-archives-date-left,.main-content-bottom-left-content-archives-date-right{
    width: 130px;
}

.archives-date-text{
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #6e6e6e;
}

.archives-date-previous{
    color: #de004e;
    font-size: 11px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.main-content-bottom-right-content-photos{
    width: 160px;
    height: 102px;
    border:#6e6e6e 3px solid;
    border-radius: 5px;
}
.main-content-bottom-right-content-photos-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}
.person{
    background-image: url("images/photosPerson.png");
}